Thumbs.db
ehthumbs.db
Desktop.ini
build/
dist/
.idea
.DS_Store

application/config/config.php
application/config/database.php
application/views/compile/
application/views/cache/
application/libraries/libs/

application/cache/
!application/cache/index.html
!application/cache/.htaccess

application/logs/
!application/logs/index.html
!application/logs/.htaccess

node_modules/
img/works/*
img/avatars/users/*
.sass-cache

/assets/*
deploy.php
application/bootstrap.php
!/uploads/manuals/
/uploads/*
/diplom/
/img/course_logo/
syncdb.sh
dump.sql
