.auth__block-infos
    .user.user_auth
        .user__pic(style="background-image: url('/img/content/user.jpg')")
        .user__name Владимир Астахов
        .user__occupation
            | Личный сайт веб-разработчика
    .auth__socials
        ul.socials
            li.socials__item
                a(href="#").socials__link
                    i.fa.fa-vk
            li.socials__item
                a(href="#").socials__link
                    i.fa.fa-github-alt
            li.socials__item
                a(href="#").socials__link
                    i.fa.fa-linkedin
.auth__block-btns
    a(href="works.html").auth__block-btn.auth__block-btn_works Мои работы
    a(href="about.html").auth__block-btn.auth__block-btn_about Обо мне
    a(href="blog.html").auth__block-btn.auth__block-btn_blog Блог